.App {
  text-align: center;
  flex:1;
  display: 'flex';;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttonView{
  background-color: black;
  height: 100cm;
  width: 100cm;
  padding: 100cm;
  justify-content: space-between;

}

.aps{
  flex:1;
}

.Navigation{
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex:1;
  padding:30;
  background-color:#AAB8C2;
}

.justify-content-end{
  justify-content: end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
